*{
    background-size: 100%;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Itim', cursive, sans-serif;

}

header {
    font-size: 40px;
    text-align: center;
}

#searchBox {
    width: 375px
}

#search {
    margin: 10px 0;
}

#weather {
    width: 50px
}

#currentIcon {
    width: 50px;
    height: 50px;
}

.todaysWeather{
    font-size: 25px;
    width: 300px;

}

.todaysWeather h2 {
    font-size: 35px;
}

.forecastHeader {
    font-size: 35px;
    margin: 0 30px;
    color: rgb(24, 0, 133);
}

h3 {
    font-size: 20px;
}

.forecast.activeBox {
    z-index: 5;
    opacity: 1;
}

.forecast {
    border: solid 3px;
    border-color: rgb(141, 141, 141);
    background-color: rgb(155, 152, 152);
    color: #000;
    padding: 20px 15px;
    font-size: 15px;
    margin: 0;
}

.hidden {
    display: none;
}

.forcast h2 {
    font-size: 35px;
}

.futureIcon {
    width: 30px;
    height: 30px;
}

.purple {
    background-color: rgb(70, 6, 90);
}

.red {
    background-color: rgb(156, 12, 12);
}

.orange {
    background-color: rgb(184, 77, 7);
}

.yellow {
    background-color: rgb(199, 166, 18);
    color: #000;
}

.green {
    background-color: rgb(16, 156, 34);
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    background: var(--gldyellow);
    color: var(--dkblue);
    line-height: 10px;
}